{% extends 'base.html.twig' %}

{% block title %}Mon panier!{% endblock %}

{% block body %}
    <section>
        <h2>Mon panier</h2>
        <table class="table">
            <thead>
                <tr class="table-active">
                    <td>Produit</td>
                    <td>Prix</td>
                </tr>
            </thead>
            <tbody>
            {% for product in cart.products %}
                <tr>
                    <td>{{ product.name|capitalize }}</td>
                    <td>{{ product.price/100 }} €</td>
                </tr>
            {% endfor %}
            <tr class="table-active">
                <td>Total à payer</td>
                <td>{{ cart.total/100 }} €</td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="#" class="btn btn-primary">Valider mon panier</a>
        </div>
    </section>
{% endblock %}
